# Semana 03
Jostink Alessandro Hernandez Cruces

# Temas
1. Colecciones de datos
2. Estructuras decisivas y estructuras repetitivas
3. Clases y objetos
4. Funciones

# 1. Colecciones

In [4]:
# 1.1. Listas
# Es una colección de elementos que pueden ser ordenada, modificada, etc...
# Se identifica por los corchetes
# Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [6]:
# Tambien se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [12]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])
print(aula[2])
print(aula[3])

Bernaola
Chavez
Gomez
Navarro

In [14]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [16]:
# Mostrar como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [18]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [20]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [22]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [24]:
# Para obtener el tamaño de la lista utilizamos len()
len(aula)

4

In [28]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [30]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [32]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [34]:
# 1.2. Tuplas
# Es una colección de elementos ordenada
# (ordenado significa que tiene un índice)
# que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [36]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [84]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [40]:
# 1.3. Conjuntos
# Es una colección de elementos que no está ordenada
# (significa que no tiene índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [42]:
# Se puede recorrer utilizando una estructura repetitiva 
#Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Bernaola
Navarro
Chipana
Gomez

In [44]:
# Observación: No se puede acceder por posición pues no considera indexación
# Ejemplo:
# conjunto_ aula[2] devolvería un mensaje de error

In [46]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [48]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [50]:
# Para eliminar elementos utilizamos la función remove()
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [52]:
# 1.4. Diccionarios
# Es una colección de elementos, que estan indexados,
# no estas ordenados y se pueden modificar
# Son escritos entre llaves y estan formados por pares de elementos
# INDICE:VALOR
diccionario_aula = {2:'Bernaola','1':'Chipana','dos':'Gomez','3':'Navarro','0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [62]:
# Del diccionario: diccionario_aula extraer el valor cuyo indice sea cero
diccionario_aula['0']

'Palomino'

In [64]:
diccionario_aula[2]

'Bernaola'

In [66]:
diccionario_aula['dos']

'Gomez'

In [68]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [70]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar el elemento de índice dos
diccionario_aula.pop(2)

'Bernaola'

In [72]:
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [74]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [76]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los indices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [78]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice)

1
3
0
20

In [80]:
# 1.5. Ejercicio 
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, 
# CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, 
# RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA] 
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) 
# forma parte de la lista 
# tiempo: 12 minutos

In [82]:
lista = ['BERNAL', 'BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE','RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']
lista

['BERNAL',
 'BERNAOLA',
 'CABALLERO',
 'CALDERON',
 'CARRASCO',
 'CENTENO',
 'CHALQUE',
 'CHAVEZ',
 'CONDORI',
 'CRUZ',
 'PALACIOS',
 'PALOMINO',
 'QUISPE',
 'RAMOS',
 'RODAS',
 'SILVERA',
 'TALAVERA',
 'TINEO',
 'VICTORIO',
 'VILCA',
 'ZEA']

In [114]:
estudiante = input(" ")
if estudiante in lista:
    print(estudiante + " forma parte de la lista")
else:
    print(estudiante + " no forma parte de la lista")

  ZEA

ZEA forma parte de la lista